//main{
//  display: flex;
//  flex-direction: column;
//}
figure{
  margin: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
}
figure img:hover{
  opacity: 0.3;
}
figure:hover{
  figcaption{
    visibility: visible;
  }
}
figcaption{
  visibility: hidden;
  font-size: 3rem;
  color: black;
  margin: 0;
  position: absolute;
}

@media screen and (min-width: $vw-medium){

  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  figure{
    width: 47%;
  }
}

@media screen and (min-width: $vw-huge){

  figure{
    width: 30%;
  }
  figure.premiere-image{
    width: 100%;
    order: -1;
  }
}
