// STYLE DE BASE DU WRAPPER

.wrapper{
  max-width: $width-mobile;
  margin: 0 auto;
}


@media screen and (min-width: $vw-medium){

  .wrapper{
    max-width: $width-tablet;
  }
}

@media screen and (min-width: $vw-huge){

  .wrapper{
    max-width: $width-desktop;
  }
}